.mainPane {
	position: absolute;
	vertical-align: top; 
	top: 0px;
	height: 100%;
	width:60%;
}

.leftPane {
	position: absolute;
	vertical-align: inherit;
	max-width: 20%;
	min-height: 50%;
	top: inherit;
}

.legendPane {
	position: relative;
	top: 0px;
	left: 10px;
	/*
	border: thin;
	border-style: solid;
	border-color: black;
	*/
}

.mainToolBar {
	position: relative;
	top: 20px;
	left: 5px;
}

.queryToolBar {
	position: relative;
	top: 40px;
	left: 5px;
	float: left;
}

.queryToolBar {
	
}


.rightPane {
	position: absolute;
	top: inherit;
	min-width: 70%;
	left: 20%;
	background-color: red;
}

.mapPane {
	position: absolute;
	top: 5px;
}

.mainMap {
	position: relative;
}

.locatorMapPane {
	position: absolute;
	top: 0px;
	left: 0px;
	border: thin;
	border-color: gray;
	border-style: solid;
	background-color: lightgray;
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}

.cursorTrackPane div {
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: lightgray;
	filter:alpha(opacity=75);
	-moz-opacity:0.75;
	-khtml-opacity: 0.75;
	opacity: 0.75;
}

.mapScalePane {
	position: absolute;
	bottom: 10px;
	right: 0px;
}

.mapScaleText {
	position: relative;
	right: 10%;
	min-width: 10%;
	visibility: visible;
}

.mapScaleBar {
	position: relative;
	min-width: 10%;
	background-color: lightgray;
	filter:alpha(opacity=70);
	-moz-opacity:0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}

.timePane {
	position: relative;
	bottom: 5%;
	left: 0px;
	height: 50px;
	width: 700px;
	float: none;
}

.timestamp {
	position: inherit;
	bottom: 5px;
	left: 0px;
	background-color:transparent;
	border: none;
	color:#000000;
	font-family: Verdana,geneva,arial,sans-serif;
	font-size:8pt;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
}

.timestampPane {
	position: inherit;
	float: 	inherit;
	left: 0%;
	bottom: 0%;
}

.timeStampButtonBar {
	position: absolute;;
	float: 	inherit;
	left: 0px;
	top: 20px;
	visibility: hidden;
}

.timeSliderPane {
	position: absolute;
	float: 	none;
	bottom: 0px;
	left: 12%;
	top: 22px;
}

.timeProgressBarPane {
	position: absolute;
	float: 	inherit;
	right: 0px;
	top: 0px;
	vertical-align: top;
}

.footer {
	position: absolute;
	bottom: 1%;
	left: 1%;
}


.tabs{
        margin-left: 4px;
        padding: 0;
        background: transparent;
        voice-family: "\"}\"";
        voice-family: inherit;
        padding-left: 5px;
    }
.tabs ul{
        font: bold 11px Arial, Verdana, sans-serif;
        margin:0;
        padding:0;
        list-style:none;
    }
.tabs li{
        display:inline;
        margin:0 2px 0 0;
        padding:0;
        text-transform:uppercase;
    }
.tabs a{
        float:left;
        background:#A3BBE6 url(images/tabs_left.gif) no-repeat left top;
        margin:0 2px 0 0;
        padding:0 0 1px 3px;
        text-decoration:none;
    }
.tabs a span{
        float:left;
        display:block;
        background: transparent url(images/tabs_right.gif) no-repeat right top;
        padding:4px 9px 2px 6px;
    }
.tabs a span{float:none;}
.tabs a:hover{background-color: #7E94B9;color: white;}
.tabs a:hover span{background-color: #7E94B9;}
.tabHeaderActive span, .tabHeaderActive a { background-color: #42577B; color:#fff;}
.tabContent {
        clear:both;
        border:2px solid #42577B;
        padding-top:2px;
        background-color:#FFF;
}
